/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "UnusedImport",
)

package org.openapitools.client.apis

import io.ktor.client.HttpClientConfig
import io.ktor.client.engine.HttpClientEngine
import io.ktor.client.utils.EmptyContent
import org.openapitools.client.infrastructure.ApiClient
import org.openapitools.client.infrastructure.HttpResponse
import org.openapitools.client.infrastructure.RequestConfig
import org.openapitools.client.infrastructure.RequestMethod
import org.openapitools.client.infrastructure.wrap
import org.openapitools.client.models.DeleteSyncProgressDropMovieIdParameter
import org.openapitools.client.models.GetSyncCollectionEpisodes200ResponseInner
import org.openapitools.client.models.GetSyncCollectionMovies200ResponseInner
import org.openapitools.client.models.GetSyncProgressMovies200ResponseInner
import org.openapitools.client.models.GetSyncProgressUpNextStandard200ResponseInner
import org.openapitools.client.models.PostSyncFavoritesAdd201Response
import org.openapitools.client.models.PostSyncFavoritesAddRequest
import org.openapitools.client.models.PostSyncFavoritesRemove200Response
import org.openapitools.client.models.PostSyncHistoryAdd200Response
import org.openapitools.client.models.PostSyncHistoryRemoveRequest
import org.openapitools.client.models.PostSyncRatingsAdd201Response
import org.openapitools.client.models.PostSyncRatingsAddRequest
import org.openapitools.client.models.PostUsersHiddenRemoveProgress200Response
import org.openapitools.client.models.PostUsersListsListAdd201Response
import org.openapitools.client.models.PostUsersListsListAddRequest
import org.openapitools.client.models.PostUsersListsListRemove200Response

open class SyncApi(
    baseUrl: String = BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {
    /**
     * DELETE /sync/playback/{id}
     *
     *
     * @param id ID of the playback entry
     * @return kotlin.Any
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun deleteSyncProgressDropMovie(id: DeleteSyncProgressDropMovieIdParameter): HttpResponse<Any> {
        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.DELETE,
            "/sync/playback/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames,
        ).wrap()
    }

    /**
     * GET /sync/collection/episodes
     *
     *
     * @param extended
     * @param availableOn  (optional)
     * @return kotlin.collections.Map<kotlin.String, kotlin.String>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSyncCollectionMinimalEpisodes(
        extended: String,
        availableOn: String?,
    ): HttpResponse<Map<String, String>> {
        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        availableOn?.apply { localVariableQuery["available_on"] = listOf("$availableOn") }
        extended?.apply { localVariableQuery["extended"] = listOf("$extended") }

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.GET,
            "/sync/collection/episodes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames,
        ).wrap()
    }

    /**
     * GET /sync/collection/movies
     *
     *
     * @param extended
     * @param availableOn  (optional)
     * @return kotlin.collections.Map<kotlin.String, kotlin.String>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSyncCollectionMinimalMovies(
        extended: String,
        availableOn: String?,
    ): HttpResponse<Map<String, String>> {
        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        availableOn?.apply { localVariableQuery["available_on"] = listOf("$availableOn") }
        extended?.apply { localVariableQuery["extended"] = listOf("$extended") }

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.GET,
            "/sync/collection/movies",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames,
        ).wrap()
    }

    /**
     * GET /sync/collection/movies
     *
     *
     * @param extended
     * @param availableOn  (optional)
     * @return kotlin.collections.Map<kotlin.String, kotlin.String>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSyncCollectionMovies(
        extended: String,
        availableOn: String?,
    ): HttpResponse<List<GetSyncCollectionMovies200ResponseInner>> {
        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        availableOn?.apply { localVariableQuery["available_on"] = listOf("$availableOn") }
        extended?.apply { localVariableQuery["extended"] = listOf("$extended") }

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.GET,
            "/sync/collection/movies",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames,
        ).wrap()
    }

    /**
     * GET /sync/collection/movies
     *
     *
     * @param extended
     * @param availableOn  (optional)
     * @return kotlin.collections.Map<kotlin.String, kotlin.String>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSyncCollectionEpisodes(
        extended: String,
        availableOn: String?,
    ): HttpResponse<List<GetSyncCollectionEpisodes200ResponseInner>> {
        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        availableOn?.apply { localVariableQuery["available_on"] = listOf("$availableOn") }
        extended?.apply { localVariableQuery["extended"] = listOf("$extended") }

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.GET,
            "/sync/collection/episodes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames,
        ).wrap()
    }

    /**
     * GET /sync/collection/shows
     *
     *
     * @param extended
     * @param availableOn  (optional)
     * @return kotlin.collections.Map<kotlin.String, kotlin.collections.Map<kotlin.String, kotlin.String>>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSyncCollectionMinimalShows(
        extended: String,
        availableOn: String?,
    ): HttpResponse<Map<String, Map<String, String>>> {
        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        availableOn?.apply { localVariableQuery["available_on"] = listOf("$availableOn") }
        extended?.apply { localVariableQuery["extended"] = listOf("$extended") }

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.GET,
            "/sync/collection/shows",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames,
        ).wrap()
    }

    /**
     * GET /sync/playback/movies
     *
     *
     * @param extended Extended information to include in the response. (optional)
     * @param page The page number to retrieve (optional)
     * @param limit The number of items per page (optional)
     * @param startAt Start date for the range. Must be formatted as \&quot;YYYY-MM-DD\&quot;. (optional)
     * @param endAt End date for the range. Must be formatted as \&quot;YYYY-MM-DD\&quot;. (optional)
     * @return kotlin.collections.List<GetSyncProgressMovies200ResponseInner>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSyncProgressMovies(
        extended: Any?,
        page: Int?,
        limit: Int?,
        startAt: String?,
        endAt: String?,
    ): HttpResponse<List<GetSyncProgressMovies200ResponseInner>> {
        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        extended?.apply { localVariableQuery["extended"] = listOf("$extended") }
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        startAt?.apply { localVariableQuery["start_at"] = listOf("$startAt") }
        endAt?.apply { localVariableQuery["end_at"] = listOf("$endAt") }

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.GET,
            "/sync/playback/movies",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames,
        ).wrap()
    }

    /**
     * GET /sync/progress/up_next_nitro
     *
     *
     * @param page The page number to retrieve (optional)
     * @param limit The number of items per page (optional)
     * @param intent To get shows a user is just starting, continuing, or all shows. (optional)
     * @return kotlin.collections.List<GetSyncProgressUpNextStandard200ResponseInner>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSyncProgressUpNextNitro(
        page: Int?,
        limit: Int?,
        intent: String?,
    ): HttpResponse<List<GetSyncProgressUpNextStandard200ResponseInner>> {
        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        intent?.apply { localVariableQuery["intent"] = listOf("$intent") }

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.GET,
            "/sync/progress/up_next_nitro",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames,
        ).wrap()
    }

    /**
     * GET /sync/progress/up_next
     *
     *
     * @param extended Extended information to include in the response. (optional)
     * @param page The page number to retrieve (optional)
     * @param limit The number of items per page (optional)
     * @param sortBy The field to sort by (optional)
     * @param sortHow The direction to sort in (optional)
     * @param includeStats Whether to include stats in the response (optional)
     * @return kotlin.collections.List<GetSyncProgressUpNextStandard200ResponseInner>
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun getSyncProgressUpNextStandard(
        extended: Any?,
        page: Int?,
        limit: Int?,
        sortBy: String?,
        sortHow: String?,
        includeStats: Boolean?,
    ): HttpResponse<List<GetSyncProgressUpNextStandard200ResponseInner>> {
        val localVariableAuthNames = listOf<String>()

        val localVariableBody =
            EmptyContent

        val localVariableQuery = mutableMapOf<String, List<String>>()
        extended?.apply { localVariableQuery["extended"] = listOf("$extended") }
        page?.apply { localVariableQuery["page"] = listOf("$page") }
        limit?.apply { localVariableQuery["limit"] = listOf("$limit") }
        sortBy?.apply { localVariableQuery["sort_by"] = listOf("$sortBy") }
        sortHow?.apply { localVariableQuery["sort_how"] = listOf("$sortHow") }
        includeStats?.apply { localVariableQuery["include_stats"] = listOf("$includeStats") }

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.GET,
            "/sync/progress/up_next",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames,
        ).wrap()
    }

    /**
     * POST /sync/favorites
     *
     *
     * @param postSyncFavoritesAddRequest Body (optional)
     * @return PostSyncFavoritesAdd201Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun postSyncFavoritesAdd(
        postSyncFavoritesAddRequest: PostSyncFavoritesAddRequest?,
    ): HttpResponse<PostSyncFavoritesAdd201Response> {
        val localVariableAuthNames = listOf<String>()

        val localVariableBody = postSyncFavoritesAddRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/sync/favorites",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames,
        ).wrap()
    }

    /**
     * POST /sync/favorites/remove
     *
     *
     * @param postSyncFavoritesAddRequest Body (optional)
     * @return PostSyncFavoritesRemove200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun postSyncFavoritesRemove(
        postSyncFavoritesAddRequest: PostSyncFavoritesAddRequest?,
    ): HttpResponse<PostSyncFavoritesRemove200Response> {
        val localVariableAuthNames = listOf<String>()

        val localVariableBody = postSyncFavoritesAddRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/sync/favorites/remove",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames,
        ).wrap()
    }

    /**
     * POST /sync/history
     *
     *
     * @param postUsersListsListAddRequest Body (optional)
     * @return PostSyncHistoryAdd200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun postSyncHistoryAdd(
        postUsersListsListAddRequest: PostUsersListsListAddRequest?,
    ): HttpResponse<PostSyncHistoryAdd200Response> {
        val localVariableAuthNames = listOf<String>()

        val localVariableBody = postUsersListsListAddRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/sync/history",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames,
        ).wrap()
    }

    /**
     * POST /sync/history/remove
     *
     *
     * @param postSyncHistoryRemoveRequest Body (optional)
     * @return PostUsersHiddenRemoveProgress200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun postSyncHistoryRemove(
        postSyncHistoryRemoveRequest: PostSyncHistoryRemoveRequest?,
    ): HttpResponse<PostUsersHiddenRemoveProgress200Response> {
        val localVariableAuthNames = listOf<String>()

        val localVariableBody = postSyncHistoryRemoveRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/sync/history/remove",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames,
        ).wrap()
    }

    /**
     * POST /sync/ratings
     *
     *
     * @param postSyncRatingsAddRequest Body (optional)
     * @return PostSyncRatingsAdd201Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun postSyncRatingsAdd(
        postSyncRatingsAddRequest: PostSyncRatingsAddRequest?,
    ): HttpResponse<PostSyncRatingsAdd201Response> {
        val localVariableAuthNames = listOf<String>()

        val localVariableBody = postSyncRatingsAddRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/sync/ratings",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames,
        ).wrap()
    }

    /**
     * POST /sync/watchlist
     *
     *
     * @param postUsersListsListAddRequest Body (optional)
     * @return PostUsersListsListAdd201Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun postSyncWatchlistAdd(
        postUsersListsListAddRequest: PostUsersListsListAddRequest?,
    ): HttpResponse<PostUsersListsListAdd201Response> {
        val localVariableAuthNames = listOf<String>()

        val localVariableBody = postUsersListsListAddRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/sync/watchlist",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames,
        ).wrap()
    }

    /**
     * POST /sync/watchlist/remove
     *
     *
     * @param postUsersListsListAddRequest Body (optional)
     * @return PostUsersListsListRemove200Response
     */
    @Suppress("UNCHECKED_CAST")
    open suspend fun postSyncWatchlistRemove(
        postUsersListsListAddRequest: PostUsersListsListAddRequest?,
    ): HttpResponse<PostUsersListsListRemove200Response> {
        val localVariableAuthNames = listOf<String>()

        val localVariableBody = postUsersListsListAddRequest

        val localVariableQuery = mutableMapOf<String, List<String>>()

        val localVariableHeaders = mutableMapOf<String, String>()

        val localVariableConfig = RequestConfig<Any?>(
            RequestMethod.POST,
            "/sync/watchlist/remove",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
        )

        return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames,
        ).wrap()
    }
}
